snippet for
	for(int ${1:} = 0; $1 < ${2:}; $1++) {
		${0}
	}

snippet forr
	for(int ${1:} = ${2:}-1; $1 >= 0; $1--) {
		${0}
	}

snippet pf
	printf("${0}");

snippet pl
	printf("\n");

snippet starting
	#include <stdio.h>
	#include <stdlib.h>

	int main() {
		${0}
		return 0;
	}
