snippet f
feat: 
endsnippet

snippet i
fix: 
endsnippet

snippet c
chore: 
endsnippet

snippet d
docs: 
endsnippet

snippet r
refactor: 
endsnippet

snippet j
JC: 
endsnippet

snippet b
BREAKING CHANGE: 
endsnippet
