snippet func
	func ${1:}(${2:}) ${3:}{
		${0}
	}

snippet meth
	func (${1:}) ${2:}() ${3:}{
		${0}
	}

snippet pf
	fmt.Printf(${1})

snippet cw
	fmt.Println(${1})

snippet imp
	"github.com/jayden-chan/${0}"
