snippet <>
<${1:}>
	${0}
</$1>
endsnippet

snippet start
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>

    <title>Title</title>
    <meta name="author" content="Author"/>
  </head>

  <body>
  </body>
</html>
endsnippet
