snippet pl
	println!("${1:}"${0});

snippet pf
	print!("${1:}"${0});

snippet ep
	eprintln!("${1:}"${0});

snippet ase
	assert_eq!(${0});

snippet as
	assert!(${0});

snippet asn
	assert_ne!(${0});

snippet der
	#[derive(${0})]

snippet re
	Result<${1}, ${2}>${0}

snippet op
	Option<${1}>${0}

snippet test
	#[test]
	fn test_${1:}() {
	    ${0}
	}

snippet bench
	#[bench]
	fn bench_${1:}() {
	    ${0}
	}

snippet testmod
	#[cfg(test)]
	mod tests {
	    use super::*;
		${0}
	}
