snippet service
service: ${1:service}

updatable:
  - $1

nginx:
  template: sso-proxy
  subdomain: $1
  name: $1
  endpoint: http://localhost
  users: ['jayden']
  port: "{{ PORT_${1/\w+/\U$0\E/} }}"

docker:
  version: "2.1"

  services:
    ${0}
endsnippet
