/*** Prevent pinned tabs area from scrolling ***/
#vertical-pinned-tabs-container {
  max-height: none !important;
  height: min-content !important;
}

/*** Hide tab close buttons (just use middle click) ***/
.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}

/*** Hide tab "audio playing" icon ***/
.tab-icon-overlay {
  display: none;
}
.tab-icon-image {
  opacity: 1 !important;
}

/*** Remove window controls ***/
#toolbar-menubar:not([inactive="true"]) .titlebar-buttonbox-container {
  display: flex !important;
}
.titlebar-buttonbox-container {
  display: none !important;
}

/*** Remove default borders and shadows ***/
#appcontent {
  @media -moz-pref("sidebar.revamp") {
    & {
      border-top: 0 !important;
      border-inline-start: 0 !important;
      box-shadow: none !important;
    }
  }
}

#tabbrowser-tabbox {
  @media -moz-pref("sidebar.revamp") {
    outline: 0px solid var(--chrome-content-separator-color) !important;
    box-shadow: none !important;
  }
}
