vim/en.utf-8.add.spl
.DS_Store
afx/apo/sink-Focal_Clear_AutoEQ_crinacle.txt
afx/apo/sink-Focal_Clear_AutoEQ_innerfidelity.txt
afx/apo/sink-Focal_Clear_AutoEQ_oratory.txt
afx/apo/sink-Focal_Clear_oratory1990_manual.txt
afx/devices/Focal_Clear_AEQ_crinacle.json
afx/devices/Focal_Clear_AEQ_innerfid.json
afx/devices/Focal_Clear_AEQ_oratory.json
afx/devices/Focal_Clear_oratory_manual.json
afx/lsp/sink-Focal_Clear_AutoEQ_crinacle.cfg
afx/lsp/sink-Focal_Clear_AutoEQ_innerfidelity.cfg
afx/lsp/sink-Focal_Clear_AutoEQ_oratory.cfg
afx/lsp/sink-Focal_Clear_oratory1990_manual.cfg
afx/lv2/sink-Focal_Clear_AutoEQ_crinacle.preset.lv2/
afx/lv2/sink-Focal_Clear_AutoEQ_innerfidelity.preset.lv2/
afx/lv2/sink-Focal_Clear_AutoEQ_oratory.preset.lv2/
afx/lv2/sink-Focal_Clear_oratory1990_manual.preset.lv2/
