configuration {
    font:                           "Sans 11";
    show-icons:                     true;
    display-drun:                   "";
    drun-display-format:            "{name}";
    disable-history:                false;
    sidebar-mode:                   false;
}

@import "base.rasi"
