@import "base.rasi"

configuration {
    font:            "Sans 11";
    show-icons:      true;
    disable-history: true;
    fullscreen:      false;
    tokenize:        true;
    hide-scrollbar:  true;
    sidebar-mode:    false;
    scroll-method:   0;
}

window {
    width: 50%;
}

listview {
    columns: 5;
    lines:   1;
}

mainbox {
    children: [ listview ];
    padding:  30px;
}
